<div>
  <label for="title_id">Title</label>
  <input type="text" name="title" id="title_id" {% if post %}value="{{ post.title }}"{% endif %} />
</div>
<div>
  <label for="category_id_id">Category</label>
  <select name="category_id" id="category_id_id" >
    {% for category in categories  %}
      <option value="{{ category.id }}" {% if post and post.category.id == category.id %}selected{% endif %}>
        {{ category.name }}
      </option>
    {% endfor  %}
  </select>
</div>
<div>
  <label for="content_id">Content</label>
  <textarea name="content" id="content_id" cols="30" rows="10">{% if post %}{{ post.content }}{% endif %}</textarea>
</div>